
@{
    ViewData["Title"] = "LogStatus";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h1>LogStatus</h1>
<html>
    <head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    </head>
    <script>
        function try(){
            debugger;
            alert("aditya");
        }
        </script>
    <body onload="try();">
    <p>hello</p>
    </body>
</html>


